* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;
}

.box-sm {
  height: 200px;
  width: 43%;
  position: fixed;
  top: 245px;
  left: 370px;
}

.box-md {
  height: 250px;
  width: 50%;
  position: fixed;
  margin-top: 100px;
  margin-left: 150px;
}

.box-lg{
  height: 450px;
  width: 75%;
  position: fixed;
  margin-top: 100px;
  margin-left: 150px;
}

.border{
  border: 10px solid black;
  border-radius: 5px;
}

#yellow {
  background-color: yellow;


}

#red {
  background-color: red;

}

#blue{
  background-color: aqua;

}
